/* @import "./reset.css"; */

body {
    padding: 50px;
}


/* .uncomplete {
    background-color: grey;
} */

.li {
    font-size: 24px;
    padding: 4px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.complete {
    background-color: green;
}

.container {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(218, 218, 218);
}

.delete {
    display: inline-block;
    text-align: center;
    width: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}