.accordeon-element {
    border: 2px solid #000;
}

.accordeon-heading {
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    background-color: grey;
}

.accordeon-body {
    background-color: lightgrey;
    border-top-width: 1px;
    color: black;
    padding: 5px;
    display: none;
    min-height: 100px;
}

.accordeon-element.open .accordeon-body {
    display: block;
}