@import "./reset.css";

body {
    padding: 50px;
}

.container {
    background-color: grey;
    font-size: 24px
}

#list div.title {
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
}

#list div.body {
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    background-color: lightgrey;
    min-height: 100px;
}

.body {
    display: none;
}

.active {
    display: block;
}